.button{
    font-size: 12px;
    line-height: 1.1;
    padding:5px 15px;
    border-radius: 20px;
    background: red;
    display: inline-block;
    text-align: center;
    min-width: 90px;
    position: relative;
    box-sizing: border-box;
}

.button_white{
    background: white;
    color: darkblue;
    border: 1px solid #000000;
}